body {
  background-color:  #CAE4DB;
}

.heading{
  font-family: "Poetsen One", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #2d545e;
  font-size: 35px;
}

.container {
  margin:20vw 15vw 30vw 15vw;
  width: 70%;
  height: 450px;
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container img {
  width: 10%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
  flex-grow: 1;
  border: 2px solid rgba(255, 255, 255, 0.684);
  transition: all ease-in-out 0.5s;
}

.container img:hover {
  width: 90%;

}
